body {
  margin: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Btn {
  margin: 20px;
}
.Btn button {
  padding: 10px 20px;
  margin: 20px;
  font-size: medium;
  border-radius: 10px;
  background-color: rgba(11, 24, 59, 0.623);
  color: white;
}

.Btn button:hover {
  background-color: rgba(0, 0, 0, 0.815);
}
